.website{
	position: absolute;
	overflow: auto;
	background-color: #ccc;
 	border: dashed 4px transparent;
	border-radius: 4px;
	transition: background-color 0.3s;
}

.first{
	width: 56%;
	height: 37%;
	border: 1px solid;
	margin-left: calc(36.8vw + 200px);
	margin-top: 16vh;

}
	
.second{
	width: 98%;
	height: 9%;
	border: 1px solid;
	margin-left: calc(1px + 200px);
	margin-top: 1px;
}
.third{
	width: 56%;
	height: 37%;
	border: 1px solid;
	margin-left: calc(36.8vw + 200px);
	margin-top: 58vh;
}

.fourth{	
	width: 28%;
	height: 81%;
	border: 1px solid;
	margin-left: calc(2.9vw + 200px);
	margin-top: 14.85vh;
}
	
.sidebar{
	position:absolute;
	top: 0; bottom: 0; left: 0;
	width: 200px;
	background: #000;
}

.drag-drop {	
	display: inline-block;
	min-width: 40px;
	padding: 2em 0.5em;	
	color: #000;
	background-color: #29e;
	border: solid 2px #fff;
	
	-webkit-transform: translate(0px, 0px);
		transform: translate(0px, 0px);
	
	transition: background-color 0.3s;
}
.drag-drop.can-drop {
	color: #000;
 	background-color: #4e4;
}

.drop-target {
 	background-color: #29e;
 	border-color: #fff;
  	border-style: solid;
}
.drop-active {
 	border-color: #aaa;	
}